@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap");
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.button {
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  /* border: 2px solid black; */
  border-radius: 50px;
  cursor: pointer;
  font-size: larger;
}

.row {
  margin: 8px 0;
}
.row input {
  width: 291px;
  height: 35px;
  font-size: 20px;
  margin: 0;
  padding: 15px 0px;
  border: 2px solid rgb(236, 143, 21);
  border-radius: 5px;
}

.equalTo {
  background-color: rgb(89, 140, 228);
  border-color: rgb(89, 140, 228);
}

.m,
.multiply,
.divide,
.plus,
.minus {
  background-color: rgb(236, 143, 21);
  color: #ffffff;
}

.dark {
  background-color: white;
  color: #ffffff;
  font-weight: 550;
}

.C,
.modulo,
.mPlus {
  background-color: rgb(192, 187, 187);
  color: #000000;
  font-weight: 550;
}

.dark {
  background-color: dimgrey;
  border-color: gray;
}

.history {
  margin-top: 20px;
  padding: 10px 100px 0px 0px;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
}

.history p {
  margin: 5px 5px 6px;
}
